@media(min-width: 769px) {
    #burguerMenu{
        display:none !important;
    }
    header{height: 240px;
     
    }

    /*Desktop y tablet*/
    .logo {
        width: 400px !important;
        position: absolute;
        top:30px;
        left:50px

    }

    .listas {

        margin: auto;
        display: flex;
        box-sizing: content-box;
        position: relative;
        left: 30px;
        top: 130px
    }

    .contendor-header {
        align-items:;
    }

    .sub-main {
        width: 20%;
    }

    .destacado {
        position: absolute !important;
        width: 100% !important;
        left: 16% !important;
        top: 46% !important; 
        font-size: 15px;
        text-align: absolute;
    }

    .buscador-input {
        width: 400px !important;
        left: 30%;
        height: 30px !important;
        font-size:120% !important;
    }

    .buscador {
        position: absolute !important;
        top: 73px !important;
        left: 460px !important;
    }
    .buscador-boton{
        position:relative   !important; 
        right:auto  !important;
        height: 28px !important;
        
       

    }
.listas ul{
}
    .listas {
        margin-top: 30px;
        display: flex;
        text-align: match-parent;
    }

    .listas li {
        margin: 0 10px;
        font-size: 19px;
    }

    .listas a {
        font-size: 19px;
        position: a
    }
    .listass{position:absolute;
        right:45%;
        top: 40px
    }
.banner{
    height:300px !important;
}
.titulares{position: absolute !important;
    top: 24% !important;
    margin-left:-580px !important; 

}
.titular2{position: absolute !important;
    top: 46% !important;
    left:55px !important; 

}
.productos{position: relative !important;
    z-index: 1;
    left:-122%;
    display:flex;
    margin-right: -67.2px !important;
    margin-bottom: 100px !important;
    margin-left: 94px !important;
}
.productos2{position: relative !important;
    margin-left: 50px !important;
    margin-right: -76px !important;
}


.sub-main{position: static!important;
    left: 50%;
    width: 23% !important;
    background-color: #ebebeb !important;
    box-shadow:none !important;
    margin-top: 75px !important;
}
.contenedor-main{margin-top: 0px !important;}
.contenedor-main2{
    margin-left:-20% !important;
    
}

    .contenedor-footer {
        display: flex;
    }

    .fa-credit-card:hover,
    .fa-gift:hover,
    .fa-user-shield:hover {
        color: #0022AA;
    }
    .sub-main-descripcion{position:fixed;
    z-index: 1;
    right:630px !important
    }
}
.caja-main{position:absolute !important;
    z-index: 0;
    height: 400px!important;
  }
  
  .caja-main2{
    position:absolute !important;
    z-index: 0;
    height:400px!important
  }
  
  .caja-main3{background: #ffffff;
    height: 400px!important;
    width: 300px;
    padding: 20px;
    margin: 39px;
    margin-top: 2px;
    position:absolute !important;
    top: auto;
    left: 52.3% !important;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
    box-shadow:2px 2px 2px#666;
  
  }
  
  .caja-main4{background: #ffffff;
    height: 400px !important;
    width: 300px !important;
    padding: 20px;
    margin: 45px;
    margin-top: 2px;
    position:absolute !important;
    top: auto;
    right: 100px !important;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
    box-shadow:2px 2px 2px#666;
  
  }
  
  
  .caja1{background: #ffffff;
    height: 400px!important;
    width: 300px;
    padding: 20px;
    margin: 45px;
    margin-top: 40px;
    position:absolute;
    top: auto;
    left: 3%;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
    box-shadow:2px 2px 2px#666;
  
  }
  .caja2{background: #ffffff;
    height: 400px!important;
    width: 300px;
    padding: 20px;
    margin: 45px;
    margin-top: 40px;
    position:absolute;
    top: auto;
    left: 27%;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
    box-shadow:2px 2px 2px#666;
  
  }
  .caja3{background: #ffffff;
    height: 400px!important;
    width: 300px;
    padding: 20px;
    margin: 45px;
    margin-top: 40px;
    position:absolute;
    top: auto;
    left: 52%;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
    box-shadow:2px 2px 2px#666;
  
  }
  .caja4{background: #ffffff;
    height: 400px!important;
    width: 300px;
    padding: 20px;
    margin: 45px;
    margin-top: 40px;
    position:absolute;
    top: auto;
    left:76%;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
    box-shadow:2px 2px 2px#666;
  
  }

  .sub-main-descripcion{
    position:relative !important;
    top:41% !important;
    right: 205% !important;
  }
  .sub-main-descripcion2{
    position:relative !important;
    top:41% !important;
    right: 220px !important;

  }
  
  footer{height: 320px !important;}

  main{height:85vh !important;}

  body {
    height: 180vh;
    overflow-x: hidden !important;
  }

/*Desktop y tablet*/