
header{
    background-color: #EAC926;
    padding: 20px;
    width: 100vw;
    margin: auto;
    position:sticky
  }
  .contenedor-header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
    max-width: 1200px;
    text-align: center;
    margin:auto;
   

  }
  .logo {
    width: 17%;
    display: flex;
  }
  .buscador{
    position:absolute;
    display: flex;
    align-items: center;
    width: 26%;
    top:30%;
    left:14%;
    
    
  }
  .buscador-input{
    border: solid 1px;
    display: flex;
    width: 55%;
    padding: 7px 35px 7px 7px;
    height: 20px;
    font-size: 1em;
    border-radius: 3px;
    
  }
  .buscador-boton{
    margin:3px;
    position:relative;
    right: 3px;
    height: 60%;
    width: ;
    background: #ffffff;
    border: solid 1px;
    cursor: pointer;
    border-left: -1px ;
    border-radius: 4px;
    right:20%;
    box-sizing: content-box;

  }
  .fa-search{
    padding: 2px;
    position:static;
    right:525%;
    
  }
  .listas{
    display: none;
    margin: right;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position:absolute;
  }
  .listass {display: none;
    margin: right;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position:relative;

  }
  .listass a{text-decoration: none;
    color: #222222;
    padding: 5px 15;
    font-size: 17px;
    position:relative;
    
  }
  .listass ul{display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position:relative;
    top:60px;
    left:160%;
    width: 400px;
  
  }
  .listas ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position:relative;
    top:60px;
    left:-6px
  }
  .listas a {
    text-decoration: none;
    color: #222222;
    padding: 5px 10;
    font-size: 17px;
  }

  .banner {
    width: 100vw;
    text-align: center;
    margin:auto;
   height: 400px;
  }

 



