

* {margin:auto;
  padding:0px;
  box-sizing: border-box;
}    

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  background: white;
  margin:0px;
  padding:0px;
  position: fixed;
}


html, body {
  max-width: 100% !important;
  overflow-x: hidden !important;
  min-height:100vh
}




